 body{
   background-color: #72d1f9;
 }
 h1{
   color: blue;
   font-family: verdana;
   font-size: 200%;
   text-shadow: 3px 3px #d2deef;
   display: inline;
 }
 nav {
   color: #f442bf;
   padding: 1em 0em;
 }

 h2{
   color: #320be0;
   font-family: Serif;
 }
 h3{
   color: #076d1c;
   font-family: Serif;
 }
 section{
  color: #c4255a;
  padding: 0.5em 0em;
}
footer{
  padding: 1.5em 0em;
}
